name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    name: test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install
      # Keep in sync with rust-toolchain.toml
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.85
          components: rustfmt, clippy
      - name: Cache cargo
        uses: Swatinem/rust-cache@v2
      - name: Check format
        run: cargo fmt --all -- --check
      - name: Lint
        run: bun run lint
      - name: Run tests
        run: bun run test
